# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# PyCharm
.idea/

# ChromaDB (if ever used again)
chroma_db/

# Logs
*.log

# Temporary Files
*.tmp

# Build
build/
dist/

# Jupyter
.ipynb_checkpoints/

config.py 

# OS Files
.DS_Store
Thumbs.db